<!DOCTYPE html>

<html>
<head>
<style type="text/css">
p.const {font-family: "Microsoft YaHei" ! important;}
</style>
</head>
<body>
<h2>Plot2</h2>
   <p>
   Click <a href="/">here</a> to go the main page.</p>
   </p>
</form>
<a href="http://www.freeimagehosting.net/commercial-photography/"><img src="http://i.imgur.com/kuaLJTy.png" alt="commercial photography locations" width="1000" height="700" ></a>
<h3>Explanation:</h3>
 </b>
<p>
This is one of the document clustering projects which plotted the labeled observations of f(ilms, film titles) colored by cluster using matplotlib using (k-means). 
<p>The fact HTML parsing process was slow, I didn't plot this ideal clustering yet but this plot shows the way of my project goes. <a href="http://www.brandonrose.org/clustering">Document Clustering with Python</a>. 
</p>


<form id='plot1' method='post' action='home' > 
   
</form>

</body>
</html>
