<!DOCTYPE html>

<html>
<head>
<style type="text/css">
p.const {font-family: "Microsoft YaHei" ! important;}
</style>
</head>
<body>
<h2>Plot1</h2>
   <p>
   Click <a href="/">here</a> to go the main page.</p>
   </p>
</form>
<img src="http://brandonrose.org/header_short.jpg" width="700" height="400" />

<h3>Explanation:</h3>
 </b>
<p>
Pipeline for Category Selection Generator using Stack Overflow Data with Clustering in Python</a>. 
</p>


<form id='plot1' method='post' action='home' > 
   
</form>

</body>
</html>
