<!DOCTYPE html>

<html>
<head>
<style type="text/css">
p.const {font-family: "Microsoft YaHei" ! important;}
</style>
</head>
<body>
<h2>Plot1</h2>
   <p>
   Click <a href="/">here</a> to go the main page.</p>
   </p>
</form>
<a href="http://www.freeimagehosting.net/commercial-photography/"><img src="http://i.imgur.com/ed85tny.png" alt="commercial photography locations", width="900" height="450" /></a>

<h3>Explanation:</h3>
 </b>
<p>
Pipeline for Category Selection Generator using Stack Overflow Data with Clustering in Python</a>. 
</p>


<form id='plot1' method='post' action='home' > 
   
</form>

</body>
</html>
